# Data Science Tools and Ecosystem

_In this notebook, Data Science Tools and Ecosystem are summarized._

## Author
Xavier Guzman

***Objectives:***
* List of popular languages for Data Science
* List of common libraries used for Data Science
* List of Open Source Environments for Data Science
* Sharing code using github

### Some of the popular languages that Data Scientists use are:
1. Python
2. C++
3. R
4. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. NumPy
4. SciKit-Learn

|Data Science Tools|
|------------|
|R Studio|
|Jupiter Notebook|
|Google Collab|

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This is a simple arithmetic expression to multiply and add numbers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
m = 200
h = 200/60
print("200 minutes represent ")
print(h)
print(" hours")

200 minutes represent
3.3333333333333335
 hours